

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

/* header */
.header {
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;

    height: auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
}

/* navigation */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color 2s linear;
    vertical-align: top;
    display: inline-block;
    margin: 0 10px;
}

.nav__link.active {
    color: #fce38a;
}

.nav__link.active::after {
    opacity: 1;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:after {
    opacity: 0;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease;
}

.nav__link:hover:after {
    display: block;
    opacity: 1;
}

/* intro */
.intro {
    width: 100%;
    height: 100vh;
    background: url("../images/Layer 15.jpg") center no-repeat;
    -webkit-backdrop-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    color: white;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;

    line-height: 1;
}

.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    background-color: white;
    height: 3px;
    margin: 60px auto;
}

.intro__subtitle {
    font-family: "Kaushan Script", cursive;
    font-size: 72px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/*button*/
.btn {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
    background-color: #ffffff;
    color: #333;
}

/* slider */
.slider {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    opacity: 0.7;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px 0;
    border-top: 3px solid #ffffff;
    position: relative;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

/* section */
.section {
    padding: 80px 0;
}

.section--devices {
    background: url("../images/Rectangle 21.jpg") center no-repeat;
    padding-bottom: 0;
    background-size: cover;
    margin-bottom: 40px;
}

.section--gray {
    background-color: #f8f8f8;
}

.section__header {
    margin: 0 auto 50px;
    width: 100%;
    max-width: 950px;
    text-align: center;
}

.section__subtitle {
    font-size: 24px;
    color: #333;
    font-family: "Kaushan Script", cursive;
}

.section__title {
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f38181;
}

.section__text {
    color: #999;
    font-size: 15px;
}

/* card */
.card {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.card__inner {
    background-color: #95e1d3;
    position: relative;
}

.card__item {
    width: 380px;
}

.card__item:hover .card__image {
    transform: translate3d(-10px, -10px, 0);
}

.card__item:hover .card__image img {
    opacity: 0.1;
}

.card__item:hover .card__text {
    opacity: 1;
}

.card__image {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform 0.2s linear;
}

.card__image img {
    display: block;
    transition: opacity 0.1s linear;
}

.card__name {
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 5px;
    font-size: 14px;
}

.card__prof {
    color: #999999;
    font-size: 15px;
    font-style: italic;
}

.card__info {
    margin-top: 20px;
    text-align: center;
}

.card__text {
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    transition: opacity 0.2s linear;
}

/* statistics */
.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    color: #ffffff;
}

.stat__item {
    padding: 70px 25px;
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}

/* services */
.services {
    display: flex;
}

.services__item {
    padding-right: 35px;
    flex: 1 1 0;
    padding-left: 85px;
    position: relative;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}

.services__text {
    padding-bottom: 20px;
    font-size: 15px;
    color: #999;
}

.line {
    border: 1px solid #e5e5e5;
    width: 100%;
    margin: 40px 0;
}

/* devices */
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}

.devices__item--iphone {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -80px;
}

.wedo {
    display: flex;
}

.wedo__item {
    width: 50%;
}

/* accordion */
.accordion__header {
    border-bottom: 1px solid transparent;
    padding: 15px 20px 15px 65px;
    position: relative;
    cursor: pointer;
}

.accordion__header::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    margin-top: 5px;
    transform: translateY(-50%) rotate(135deg);
}

.accordion__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accordion__item.active .accordion__content {
    display: block;
}

.accordion__item.active .accordion__header::after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__item.active .accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%);
}

.accordion__content {
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
    display: none;
}

/* reviews */
.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 205px;
    position: relative;
}

.reviews__photo {
    border: 2px solid #95e1d3;
    padding: 44px 45px;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}

.reviews__text {
    margin-bottom: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
}

.reviews__author {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    color: #333;
}

.reviews__author::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}

.reviews__btn {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__btn::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.reviews__btn--prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__btn--next {
    right: 0;
    transform: rotate(135deg);
}

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 1px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f38181;
    transition: background 0.1s linear, color 0.1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    background-color: #fff;
}

.social__item--icon {
    background-color: #f38181;
}


.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*works*/
.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;

    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__image {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__image {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;

}

.works__info {
    width: 100%;
    padding: 0 15px;

    text-align: center;
    color: #fff;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;

    font-size: 14px;
    text-transform: uppercase;
}

.works__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

